body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: conic-gradient(at 0% 0%, snow, white)
}

.container {
    font-family: 'Inter';
    text-align: center;
    width: 550px;
    height: 729px;
    background-color: #F4F4F4;
}

.upContent {
    display: flex;
    flex-wrap: wrap;
    max-height: 285px;
    flex-direction: column;
    align-items: center;
    padding: 34px 34px 14px;
    background-color: #6943FF;
    margin-bottom: 22px;
}

.header {
    max-width: 448.4px;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.inputBox {
    background: none;
    font-size: 90px;
    color: #FFFFFF;
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
    display: felx;
}

.inputBox::placeholder {
    color: #FFFFFF;
    opacity: 0.1;
}

.btn {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 42px;
}

.btn:hover {
    cursor: pointer;
}

.downContent {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.conversionBox-1 {
    background-color: #FFFFFF;
    width: 500px;
    height: 108.57px;
    border-radius: 4.68077px 0px 0px 0px;
    margin-bottom: 23.43px;
}

.conversionBox-2 {
    background-color: #FFFFFF;
    width: 500px;
    height: 108.57px;
    border-radius: 4.68077px 0px 0px 0px;
    margin-bottom: 23.43px;
}

.conversionBox-3 {
    background-color: #FFFFFF;
    width: 500px;
    height: 108.57px;
    border-radius: 4.68077px 0px 0px 0px;
    margin-bottom: 23.43px;
}

.conversionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
    margin-top: 31px;
    margin-left: 77px;
    margin-right: 77px;
}

.conversion-p-el {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #FFFFFF;
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;
}


.darkmode-container {
    background-color: #1F2937;
}

.darkmode-conversionBox {
    background-color: #273549;
}

.darkmode-conversionTitle {
    color: #CCC1FF;
}

.darkmode-conversion-p-el {
    color: #FFFFFF;
}